html {
    scroll-behavior: smooth;
  }

@mixin flexbox{
    display: flex;
    justify-content: space-around;
}
@mixin style-button{
    padding: 0.5rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: #0b9af9;
    border: 0;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.463);
    
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:  0 2rem ; 
    background-color: rgb(0, 0, 0);
}
header{
    .nav-bar{
        background-color: #0b9af9;

        ul{
            @include flexbox();
            
            
            li{
                list-style-type: none;
                padding: 0.5rem;
                a{
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.625);
                    font-family: "IBM Plex Mono", monospace;
                }
            }
        }
    }
    a:hover{
       border-bottom: solid #f2e9e9;
    }
}
.intro-main{
    color: #ffffff;
    @include flexbox();
    padding: 5rem;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    .descricao-intro{
        width: 30vw;
        h1{
            font-size: 3rem;
          
        }
        p{
            font-size: 1.2rem;
            
        }
        button{
            padding: 1rem;
            color: white;
        }
        
    }
   .intro-imagem{
    
    background-color: #0b9af9;
    border-radius: 100%;
    
   }
    
    img{
        width: 20vw;
    }

}

button{
    margin: 0.5rem;
    @include style-button();
    transition: transform 0.3s ease;
    cursor: pointer;

}
button:hover{
    transform: scale(1.1);
}
.projetos-main{
    
    padding: 5rem;
    @include flexbox();
    .item-projeto{
      background-color:#ffffff;
      width: 25vw;
      height: auto;
     
      display: inline-block;
       img{
        display: block;
        height: auto;
        width: 100%;

       }
      
       div{
        font-family: "IBM Plex Mono", monospace;
        
        h2{
            font-weight: 400;
            margin: 0.5rem;
            text-align: center;
            border-bottom: solid  #0b9af9;
        }
        p{
            padding: 0.8rem;
            border-bottom: solid rgba(202, 201, 201, 0.784);
            font-size: 0.8rem;
            
           
        }
       }
       .item-icone{
        padding: 0.5rem;
        display: flex;
       }
       #icone{
        width: 1.8rem;
        height: auto;
        color: aqua;
        
        
       }
       
        h6{
            font-size: 1rem;
            font-weight: 400;
            padding: 0.5rem;
        }

    }
   

}
.sobre-main{
    color: #ffffff;
    padding: 2rem;
    font-family: "IBM Plex Mono", monospace;
    p{
        padding: 2rem;
    }
     h2{
        color: #0b9af9;
        font-size: 1.4rem;
       text-align: center;
     }
    @include flexbox();
    .descricao-sobre{
        width: 50vw;
        font-size: 0.8rem;
       
    }
    img{
        width: 30vw;
        border-radius: 10px;
       }
    
}
.sobre-main2{
    color: #ffffff;
    padding: 2rem;
    font-family: "IBM Plex Mono", monospace;
    p{
        padding: 2rem;
    }
     h2{
        color: #0b9af9;
        font-size: 1.4rem;
       text-align: center;
     }
    @include flexbox();
    .descricao-sobre{
        width: 50vw;
        font-size: 0.8rem;
       
    }
    img{
        width: 30vw;
        border-radius: 10px;
       }
}

.contato-main{
   
    background-color: #0b9af9;
    text-align: center;
    color: rgba(255, 255, 255, 0.871);
    font-family: "IBM Plex Mono", monospace;

   
    h6{
        font-size: 1.2rem;
    
    }
   
}
footer{
    color: white;
    background-color:  #0b9af9;
    text-align: center;
   
    
    .footer-redes{
        
       border-bottom: solid rgba(255, 255, 255, 0.412);
        img{
            padding: 0.8rem;
            cursor: pointer;
            width: 6vw;
            
        }
    }
}
.botao-body{
    position:fixed;
    bottom: 0;
    right: 0.5rem;
   background-color: transparent;
   border: solid white;
   border-radius: 100%;
   width: 3vw; 
}
.botao-body:hover{
    background-color: #0b9af9;
    color: white;
}

@media(max-width:600px){

    .botao-body{
        display: none;
    }
    body{
        margin:0; 
        background-color: rgb(0, 0, 0);
    }
    .intro-main{
        flex-direction: column-reverse;  
        padding: 0;
        .descricao-intro{
            width: 100%;
            padding: 2rem;
            text-align: center;
            h1{
                font-size: 1.8rem;
            }
            p{
                font-size: 1rem;
            }
            
        }
     }
    #intro-imagem{
     background-color:#0b9af9; 
     width: 50vw;
    }
    .nav-bar{
        
        ul{
            background-color: rgb(0, 0, 0);
            flex-direction: column;
            align-items: center;
        }

    }
    .projetos-main{
     flex-direction: column;   
     padding: 1rem;
    
        .item-projeto{
           
            width: 100%;
        }
    }
    .sobre-main2{
        flex-direction:column-reverse;
        padding: 1rem;

        img{
            padding: 1rem;
            width: 100%;
            
        }

        .descricao-sobre{
            width: 100%;
            background-color: #0b9af939;
            border-radius: 10px;
            
            p{
                padding: 0.5rem;
            }
        }
    }
    .sobre-main{
        flex-direction:column;
        padding: 1rem;

        img{
            padding: 1rem;
            width: 100%;
            
        }

        .descricao-sobre{
            width: 100%;
            background-color: #0b9af939;
            border-radius: 10px;
            
            p{
                padding: 0.5rem;
            }
        }
   
   }
  
}
@media(max-width:878px){
    
    .intro-main{
       
        padding: 2rem;
        align-items: center;
       .intro-imagem{
        background-color: #0b9af9;
        width: 20vw;

        
        img{
            width: 100%;
        }
       } 
    }
    .sobre-main2{
        padding: 2rem;
        align-items: center;
        
    }
    .sobre-main{
        padding: 2rem;
        align-items: center;
       }
    
    .projetos-main{
        padding: 0.5rem;
       
           .item-projeto{
              
               width: 100%;
           }
       }
    

    
}
@media(max-width:658px){
    .sobre-main{
        flex-direction:column;
        padding: 1rem;
        img{
            padding: 1rem;
            width: 100%;
            
        }
        .descricao-sobre{
            width: 100%;
            background-color: #0b9af939;
            border-radius: 10px;
        }

    }
    .sobre-main2{
        flex-direction:column-reverse;
        padding: 1rem;
        img{
            padding: 1rem;
            width: 100%;
            
        }
        .descricao-sobre{
            width: 100%;
            background-color: #0b9af939;
            border-radius: 10px;
        }

    }
  
}
